.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: space-between;
  min-height: 100vh;
}

.game-container h4 {
  background-color: var(--primary-color);
  color: var(--primary-text);
  padding: 10px;
  text-align: center;
  width: 100%;
}
